:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-light: #ffffff;
  --clr-dark: #323232;
  --clr-text: #23b8dd;
  --clr-break: #d6d7db;
  --clr-accent: #bebebe6f;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

.darkMode {
  --clr-light: #313131;
  --clr-dark: #323232;
  --clr-text: #23b8dd;
  --clr-break: #797979;
  --clr-accent: #bebebe6f;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--clr-light);
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  font-size: 30;
  background-color: var(--clr-light);
  position: relative;
  /* margin-bottom: 20px; */
  border-bottom: 1px solid var(--clr-break);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, input {
  border-radius: 8px;
  border: 1px solid var(--clr-light);
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--clr-light);
  cursor: pointer;
  transition: border-color 0.25s;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, .4); */
  margin: 4px;
}
button:hover {
  border-color: var(--clr-light);
  background-color: var(--clr-accent);
}
input:hover {
  background-color: var(--clr-light);
  bortder-color: var(--clr-light);
}
button:active, input:active {
  transform: scale(99%);
  background-color: var(--clr-light);
  /* border: var(--clr-break); */
}

.locked {
  background-color: transparent;
  border: 1px solid var(--clr-light);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.colorsHeader {
  font-family: "Avant Garde", sans-serif;
  font-size: 2.8em;
  font-weight: 900;
  font-style: italic;
  line-height: .8;
  color: var(--clr-text);
  width: 100%;
  margin: 0;
  margin-top: 19px;
  text-align: left;
  margin-left: 15px;
}

.loginContainer {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  position: relative;
}

.loginHeader {
  font-family: "Avant Garde", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  line-height: .8;
  color: var(--clr-text);
  width: 100%;
  margin: 0;
  margin-top: 19px;
  text-align: start;
  margin-right: 15px;
  cursor: pointer;
  border-bottom: 1px solid var(--clr-text);
  margin-bottom: 5px;
  position: absolute;
  top: 10px;
  right: 45px;
}
.loginHeader:hover {
  transform: scale(105%);
  transition: transform 0.2s;
}
.loginHeader:active {
  transform: scale(98%);
  transition: transform 0.2s;
}
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--clr-break);
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avant Garde", sans-serif;
  font-size: 1em;
  font-weight: 900;
  font-style: italic;
  line-height: .8;
  color: #14b9de;
  height: 40px;
  margin-right: 5px;
  border-radius: 0px;
  cursor: pointer;
  padding-right: 20px;
}
.backButton:hover {
  transform: scale(105%);
  transition: transform 0.2s;
}
.backButton:active {
  transform: scale(98%);
  transition: transform 0.2s;
}

.hueButton, .hueButton2 {
  font-family: "Avant Garde", sans-serif;
  font-size: .8em;
  font-weight: 300;
  color: var(--clr-light); 
  border: 1px solid var(--clr-light); 
  background-color: var(--clr-light);
  width: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.hueButton2 {
  margin-bottom: 106px;
}
.hueButton:hover, .hueButton2:hover{
  border-color: var(--clr-break);
  background-color: var(--clr-accent);
}
.hueButton:active, .hueButton2:hover {
  transform: scale(99%);
  background-color: var(--clr-accent);
  /* box-shadow: inset  0 2px 3px rgba(0, 0, 0, 0.5); */
}

button:disabled {
  color: var(--clr-accent);
  background-color: var(--clr-dark);
  opacity: 0.5;
  cursor: not-allowed;
}

.numInput {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avant Garde", sans-serif;
  font-size: 1em;
  font-weight: 900;
  font-style: italic;
  line-height: .8;
  color: var(--clr-text);
  height: 40px;
  margin-right: 25px;
  border-right: 1px solid var(--clr-break);
  border-left: 1px solid var(--clr-break);
  border-radius: 0;
  padding-right: 5px;
  padding-left: 25px;
}

.darkInput {
  transform: scale(220%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avant Garde", sans-serif;
  font-size: 1em;
  font-weight: 900;
  font-style: italic;
  line-height: .8;
  color: var(--clr-text);
  height: 40px;
  border-radius: 0;
  padding-top: 2px;
  cursor: pointer;
}
.darkInput:hover {
  transform: scale(250%);
  transition: transform 0.2s;
}
.darkInput:active {
  transform: scale(215%);
  transition: transform 0.2s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.settingsInfoBox {
  width: 800px;
}

.settingsBox {
  width: 200px;
  height: 88vh;
}

.colorContainer {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  width: 100%;
}

.colorButton {
  width: 20px;
}

.colorBox {
  height: 88vh;
  flex: 1; /* This allows the color boxes to fill available space */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50%;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 70px;
  width: 100%;
}

.colorName {
  font-family: "Avant Garde", sans-serif;
  font-size: .8em;
  font-weight: 300;
  line-height: .8;
  color: var(--clr-light);
  width: 100%;
  margin: 5px;
}

.colorHex {
  font-family: "Avant Garde", sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  font-style: italic;
  line-height: .8;
  color: var(--clr-light);
  width: 100%;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

