:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(55, 55, 55, 0.87);
  background-color: #eceac8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30;
  background-color: #f8dede;
  border-bottom: 5px solid #a0e4f3;
  height: 142px;
  position: relative;
  margin-bottom: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #ffffff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}
button:hover {
  border-color: #cfd1ff;
  background-color: #ffffff93;
}
button:active {
  transform: scale(99%);
  background-color: #ffffff3c;
  box-shadow: inset  0 2px 3px rgba(0, 0, 0, 0.5);
}

.locked {
  background-color: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.colorsHeader {
  font-family: "Avant Garde", sans-serif;
  font-size: 3.2em;
  font-weight: 900;
  font-style: italic;
  line-height: .8;
  color: #14b9de;
  width: 100%;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 80vh; */
}

.containerColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 90%;
}

.colorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 70px;
  width: 100%;
}

.colorButton {
  width: 20px;
}

.colorBox {
  height: 75vh;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorName {
  font-family: "Avant Garde", sans-serif;
  font-size: .9em;
  font-weight: bolder;
  line-height: .8;
  color: #ffffff;
  width: 100%;
  margin: 5px;
  text-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.colorHex {
  font-family: "Avant Garde", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  line-height: .8;
  color: #ffffff;
  width: 100%;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  text-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avant Garde", sans-serif;
  font-size: 1em;
  font-weight: 900;
  font-style: italic;
  line-height: .8;
  color: #14b9de;
  height: 40px;
}

button:disabled {
  color: lightgray;
  background-color: #25252546;
  opacity: 0.5;
  cursor: not-allowed;
}
