:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(55, 55, 55, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  font-size: 30;
  background-color: #ffffff;
  position: relative;
  /* margin-bottom: 20px; */
  border-bottom: 1px solid #d6d7db;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, input {
  border-radius: 8px;
  border: 1px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, .4); */
  margin: 4px;
}
button:hover, input:hover {
  border-color: #cfd1ff;
  background-color: #ffffff93;
}
button:active, input:active {
  transform: scale(99%);
  background-color: #bebebe6f;
  /* box-shadow: inset  0 2px 3px rgba(0, 0, 0, 0.5); */
}

.locked {
  background-color: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.colorsHeader {
  font-family: "Avant Garde", sans-serif;
  font-size: 2.8em;
  font-weight: 900;
  font-style: italic;
  line-height: .8;
  color: #23b8dd;
  width: 100%;
  margin: 0;
  margin-top: 19px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avant Garde", sans-serif;
  font-size: 1em;
  font-weight: 900;
  font-style: italic;
  line-height: .8;
  color: #14b9de;
  height: 40px;
  margin-right: 5px;
  border-radius: 0px;
  border-right: 1px solid #d6d7db;
}

.hueButton, .hueButton2 {
  font-family: "Avant Garde", sans-serif;
  font-size: .8em;
  font-weight: 300;
  color: white; 
  border: 1px solid white; 
  background-color: white;
  width: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.hueButton2 {
  margin-bottom: 106px;
}
.hueButton:hover, .hueButton2:hover{
  border-color: #cfd1ff;
  background-color: #ffffff93;
}
.hueButton:active, .hueButton2:hover {
  transform: scale(99%);
  background-color: #bebebe6f;
  /* box-shadow: inset  0 2px 3px rgba(0, 0, 0, 0.5); */
}

button:disabled {
  color: lightgray;
  background-color: #25252546;
  opacity: 0.5;
  cursor: not-allowed;
}

.numInput {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avant Garde", sans-serif;
  font-size: 1em;
  font-weight: 900;
  font-style: italic;
  line-height: .8;
  color: #14b9de;
  height: 40px;
  margin-right: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 80vh; */
}

.containerColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.colorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.colorButton {
  width: 20px;
}

.colorBox {
  height: 88vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50%;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 70px;
  width: 100%;
}

.colorName {
  font-family: "Avant Garde", sans-serif;
  font-size: .8em;
  font-weight: 300;
  line-height: .8;
  color: #ffffff;
  width: 100%;
  margin: 5px;
  text-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

.colorHex {
  font-family: "Avant Garde", sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  font-style: italic;
  line-height: .8;
  color: #ffffff;
  width: 100%;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  text-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

